:root {
  --color-primary-medium: #9dcb8d;
  --color-primary-dark: #8db87f;
  --color-secondary-medium: #586874;
  --color-secondary-dark: #1d2c33;

  --color-grey-medium: #606060;

  --color-white-medium: #fafbf3;
  --color-white-dark: #f3f3f3;

  --font-dark: #586874;
  --font-light: #fafbf3;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
  color: var(--color-grey-medium);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
