.Banner {
  background-color: #9dcb8d;

  color: var(--font-light);

  height: 100vh;

  grid-area: bn;

  display: flex;

  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.Banner .bannerimg {
  background: url('../../images/cmc_transparent.svg') no-repeat center;

  width: 100%;
  height: 100%;
  animation: fadein 1s;
}

.Banner .heading-box {
  background-color: var(--color-primary-dark);
  padding: 10px 50px;
  border-radius: 15px;

  animation: fadein 1s;
}

.Banner h1 {
  font-size: 65px;
}

/* Animations */
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
  }
}
