.Banner {
  background-color: #9dcb8d;

  color: var(--font-light);

  height: 100vh;

  display: flex;

  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.Banner .bannerimg {
  background: url('../../images/cmc_transparent.svg') no-repeat center
    center/cover;

  width: 1000px;
  animation: fadein 1s;
}

.Banner h1 {
  font-size: 65px;
  /* text-transform: uppercase; */

  animation: fadein 1s;
}

/* Animations */
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
  }
}
